.img{
    width: 43%;
    left: 10%;
    position: absolute;
}
.img-container{
    position: relative
    ;
}
.bottom{
    background-color: var(--primary-color);
}
h2{
    font-size: 25px;
    font-weight: bolder;
}