.containerText{
    padding: 0 5%;
    font-size: 16px;
    width: 80%;
    text-align: center;
    display: flex;
}
@media only screen and  (max-width: 600px){

    .containerText{
        font-size: 12px;
    }
}