.carruselItem {
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .carruselImage {
    width: 100%;
    height: 92vh; /* Asegúrate de que el contenedor tenga una altura fija */
    overflow: hidden;
 }
 
 .carruselImage img {
    width: 100%;
    height: auto; /* Forza la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
    object-position: top;
 }
 