.nav {
  height: 10%;
  font-weight: bold;
  background-color: #1344716d;
  /* text-shadow: -1px -1px 0 #ffffff; */
}

.nav :global(.nav-link) {
  color: white !important;
  text-shadow: 0 -1px 0 #000;
}
