
.button{
    background-color: #fff;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 18px;
    color: grey;
    font-weight: 500;
    width: 100%;
    background-color: none;


}
.img{
border-radius:0 0 5% 0 ;
}
.active{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    font-weight: 700;
}
.title{
    height:300px ;
}
