
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 3rem; /* equivale a Bootstrap p-5 */
  gap: 1rem; /* equivale a Bootstrap gap-3 */
}

.button{
    background-color: #fff;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 18px;
    color: grey;
    font-weight: 500;
    width: 100%;
    background-color: none;
}
.img{
border-radius:0 0 5% 0 ;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cardNav{
    width: 25%;
}
.cardContainer{
    height: 25%;
    padding-top: 2%;
}
.active{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    font-weight: 700;
}
.title{
    height:300px ;
}
.title h3{
    font-size: 25px;
}
 @media only screen and  (max-width: 600px){


.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem  1rem; /* equivale a Bootstrap p-5 */
  gap: 1rem; /* equivale a Bootstrap gap-3 */
}

.img{
border-radius:0 0 5% 5% ;
border-bottom: 5px solid var(--primary-color);
}
.nav{

  flex-wrap: wrap;
  gap: 0;
}
.cardNav{
    padding-top: 10%;
    width: 50%;
}
.cardContainer{
    height: 25%;
    padding-top: 2%;
}
.active{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    font-weight: 700;
}
.title{
    height:auto ;
    
}


 }